*{
	margin: 0px;
	padding: 0px;
}
#frame{
	padding-top: 20px;
	padding-left: 20px;
}
#text{
	width: 300px;
	height: 100px;
  
	border-radius: 5px;
    font-size: 12px;
   
}
#warn{
   width:200px;
   height: 30px; 
   display:block;
   color: red;
   font-size: 16px;
   font-weight: bold;
  
   margin-left: 375px;
   margin-top: -30px;
}
#normal{
   width: 200px;
   height: 30px;
   display: none;
   color: green;
   font-size: 16px;
   margin-left: 375px;
   margin-top: -30px;
}
#button{
	width: 60px;
	height: 30px;
	border-radius: 5px;
}
#show{
	width: 200px;
	height: 200px;
	border: 1px solid lightblue;
}
input,button,select,textarea{
	outline: none;
}
textarea{
	resize:none;
}
/*placeholder字体颜色兼容性的设置*/
/*::-moz-placeholder { color: #369; }
::-webkit-input-placeholder { color:#369; }
:-ms-input-placeholder { color:#369; }*/