*{
	margin: 0px;
	padding:0px;
}
#div{
	position: absolute;
}
.divA{
	background-color: red;
	width: 300px;
	height: 300px;
    position: relative;
    top: 0px;
    left: 0px;
}
.divB{
	background-color: blue;
	position: relative;
	left: 300px;
	top: -300px;
	height: 300px;
}
.divC{
	background-color: yellow;
	height: 300px;
}