*{
	margin: 0px;
	padding:0px;
}
.divA{
	background-color: red;
	width: 300px;
	position: absolute;
	left: 0px;
}

.divB{
	background-color: yellow;
	width:400px;
	position: absolute;
	right: 0px;
}
.divC{
	background-color: blue;
	margin-left: 300px;
}